{% extends "peer_review/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <title>Team Admin</title>
    <!--Edit navbar active-->
    <script>
        title = "maintainTeam";
    </script>
    <!--end-->
    <!--Select correct table-->
    <script>
        var numTeams = 0;

        // Currently active round
        var roundId = "";
        // Currently active team
        var selected = "";

        // Loading table
        var loading = false;
    </script>
    <!--end-->
{% endblock extrahead %}
{% block context %}
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                    <h4 class="panel-title">
                        <b>Team Builder</b><b class="caret"></b>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div>
                            <h4>Select Round</h4>
                            <form role="form" method="post" action="#">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <select id='selectedRound' class="form-control" style="width:auto" name="type">
                                            {% if not preselectedRoundPk %}
                                                <option selected value=""></option>
                                            {% endif %}
                                            {% for round in rounds %}
                                                <option
                                                        {% if preselectedRoundPk == round.pk %}
                                                            selected="selected"
                                                        {% endif %}
                                                        value="{{ round.pk }}" desc="{{ round.description }}">{{ round.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <a href="/maintainRound" class="btn btn-info btn-xs plus">+</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />
                        <div class="">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><b>Round Description</b></h4>
                                </div>
                                <div class="panel-body" id="roundDesc">
                                    Please select a round above
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12 col-sm-12" style="padding: 5px"></div>
                        <br />
                        <div class="row" id="tablesContainer">
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><b>User List</b></h4>
                                    </div>
                                    <div class="panel-body">
                                        <div >
                                            <table class='table moveable sortable' id='users'>
                                                <thead>
                                                <tr>
                                                    <th>User Name</th>
                                                    <th>Name</th>
                                                    <th>Surname</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for user in users %}
                                                    <tr id="{{ user.pk }}">
                                                        <td>{{ user.user_id }}</td>
                                                        <td>{{ user.name }}</td>
                                                        <td>{{ user.surname }}</td>
                                                        <td></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><b>Teams</b></h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="panel-group" id="teams">
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><input type="button" value="+" class="btn btn-info btn-xs plus" id="addTeam"/><b> Add</b></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- START CSV COMPONENT -->
            <!-- TODO(egeldenhuys): Make reusable component
                Args:
                    message (str): A message indicating the error, if not valid
                    possible_users (List[Dict[str, str]]):
                        A list of users to be added, or already existing, if valid
                    request_id (str): The name of the uploaded file, if valid
                    error_code (int):
                        0: No error
                        1: CSV error
                        2: User(s) already exists
                        3: CSV upload error
            -->
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                    <h4 class="panel-title">
                        <a>
                            User Registration Via CSV File <b class="caret"></b>
                        </a>
                    </h4>
                </div>
                <!-- TODO(egeldenhuys): rename message to something specific to CSV uploading.-->
                <div id="collapseTwo" class="panel-collapse collapse {% if message or possible_users%}in{% endif %}">

                    <div class="panel-body">
                        <div>
                            <div>
                                <ul>
                                    <li>Users need to exist.</li>
                                    <li>Rounds need to exist</li>
                                    <li>Teams for the existing round will be created if they do not exist, after confirmation.</li>
                                </ul>

                            </div>
                            <strong>Example CSV</strong>:<br>
                            <pre id="csv_example"></pre>
                            <script>
                                let str =
                                    'user_id, round_name, team_name\n' +
                                    'u12345678, demo4, team_pinocchio';
                                $('#csv_example').text(str);
                            </script>

                            <ul>
                                <li>The CSV file needs to be encoded in utf-8.</li>
                            </ul>
                        </div>
                        <form class="col-md-6" action="{% url 'teamSubmitCSV' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>{{ docForm.non_field_errors }}</p>

                            <p>{{ docForm.doc_file.label_tag }} {{ docForm.doc_file.help_text }}</p>

                            <p>
                                {{ docForm.doc_file.errors }}
                                {{ docForm.doc_file }}
                            </p>
                            <input type="submit" value="Submit"/>
                        </form>
                    </div>
                    <!-- existance of error_code indicates we recieved a response
                    from the submit_csv() function -->
                    {% if error_code != None %}
                    <div class="panel-body">

                        {% if error_code == 0 %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>

                            {% if possible_users %}
                            <!-- TODO(egeldenhuys): Add button to skip to bottom? -->
                            <div class="alert alert-info" role="alert">
                                Confirm the transaction at the bottom of the page
                            </div>
                            {% endif %}

                        {% else %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}

                        {% if possible_users %}
                        <div class='table-responsive'>
                            <table class='table'>
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Initials</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Email</th>
                                    <th>Cell</th>
                                    <th>UserID</th>
                                </thead>
                                {% for row in possible_users %}
                                <tr>
                                    <td>{{ row.title }}</td>
                                    <td>{{ row.initials }}</td>
                                    <td>{{ row.name }}</td>
                                    <td>{{ row.surname }}</td>
                                    <td>{{ row.email }}</td>
                                    <td>{{ row.cell }}</td>
                                    <td>{{ row.user_id }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% endif %}

                        {% if error_code == 0 and possible_users %}
                        <form action="{% url 'teamSubmitCSV_confirm' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            <input type="hidden" name="request_id" value="{{request_id}}"><br>
                            <input id="confirm" type="hidden" name="confirm" value="0"><br>

                            <input type="submit" value="Cancel" onclick="document.getElementById('confirm').value='0'">
                            <input type="submit" value="Confirm" onclick="document.getElementById('confirm').value='1'">
                        </form>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- END CSV COMPONENT -->
        </div>
    </div>
    <script src="{% static "peer_review/js/maintainTeam.js" %}"></script>
{% endblock context %}